*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1240px;
    height: auto;
    margin: 0 auto;
}
::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
}
  
::selection {
color: red;
background: yellow;
}
.h1-title{
    color: blueviolet;
    font-size: 41px;
    text-align: center;
    font-family: "Sofia", sans-serif;
}
.ptag{
    color: aqua;
    font-weight: 700;
    text-align: center;
    font-family: "Sofia", sans-serif;
}
.imageDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.greeting{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-radius: 20px;
}
.h2-hello{
    padding: 20px;
    background-color: antiquewhite;
    color: rgb(10, 24, 233);
    border-radius: 20px;
    text-align: center;
    margin: 50px;
    width: fit-content;
}
.learnComponent{
    display: block;
    text-align: center;
    background-color: beige;
    border-radius: 20px;
}
li {
    list-style: none;
}
li span{
    color:blue;
}
.learnevent,.divform{
    height: 700px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::placeholder {
    color: red;
}